@import "../../app.scss";

.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;

    .wrapper {
        max-width: 1366px;
        height: 100%;
        margin: auto;

        .textContainer {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            @include mobile {
                height: 50%;
                width: 100%;
                gap: 20px;
                align-items: center;
                text-align: center;
            }

            @include tablet {
                height: 50%;
                width: 100%;
                gap: 20px;
                align-items: center;
                text-align: center;
            }

            h2 {
                font-size: 30px;
                color: rebeccapurple;
                letter-spacing: 10px;
            }

            h1 {
                font-size: 88px;

                @include mobile {
                    font-size: 36px;
                }

                @include tablet {
                    font-size: 36px;
                }
            }

            .buttons {
                button {
                    padding: 20px;
                    border: 1px solid white;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;
                    margin-right: 20px;
                    cursor: pointer;
                    font-weight: 300;
                }

                button:hover {
                    background-color: rgb(223, 245, 245);
                    color: rebeccapurple;
                    font-weight: bold;
                    border: 1px solid rebeccapurple;
                }
            }

            img {
                width: 50px;
            }
        }
    }

    .imageContainer {
        height: 100%;
        position: absolute;
        top: 0;
        right: 300px;

        @include desktop {
            right: 0;

        }

        @include tablet {
            height: 50%;
            width: 100%;
            top: unset;
            bottom: 0;
            right: 0;
        }


        img {
            width: 90%;
            height: 90%;
            object-fit: cover;
            border-radius: 100px;

            @include desktop {
                object-fit: contain;
                width: 80%;
                height: 80%;
            }

            @include tablet {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
    }

    .slidingTextContainer {
        position: absolute;
        font-size: 50vh;
        bottom: -120px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
        pointer-events: none; // Add this line
    }
}